{% extends "base.html" %}

{% block content %}

<h2 style="text-align:center">Login</h2>

<form method="post" class="upload-form">

    {% if error %}
    <div class="form-error">
        {{error}}
    </div>
    {% endif %}

    <label for="username">Username</label>
    <input 
        id="username"
        name="username"
        type="text"
        placeholder="Enter your username"
        required
    >

    <label for="password">Password</label>
    <input 
        id="password"
        name="password"
        type="password"
        placeholder="Enter your password"
        required
    >

    <button type="submit">Login</button>

</form>

<p style="text-align:center; margin-top:15px;">
    Don't have an account?
    <a href="/register" class="btn register">Register</a>
</p>

{% endblock %}